<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <link href="../style/forPaas.css" rel="stylesheet">
</head>
<body>
    <div class="main">

    <div class="f_box">

        <h1 class="heading"><span>Forgot</span> Password</h1>
        <div class="f_child_box">
        <input type="tel" placeholder="Enter your phone number">
        <label for="choice">Choose is Your Best Friend ?</label>
        <select id="choice">
            <option>Aritificial Intelligence</option>
            <option>Humans</option>
            <option>Cars</option>
        </select>
        <button type="submit" class="submi" >Submit</button>


    </div>
    <div class="resetPassword">        
        <input type="text" placeholder="Enter your new password" class="new_pass">
        <input type="text" placeholder="Confirm your new password" class="new_pass">
            <button type="submit" class="reset_pass" >Reset Password</button>
    
        </div>
    </div>
    </div>
    <script src="../script/forPaas.js"></script>
    <script src="../script/script.js"></script>

    
</body>
</html>