<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Recognition System Login</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNje6_l1w5eQT1KGoKqvOaxSeIMVBSd1Zung&usqp=CAU" type="image/x-icon">
</head>

<body>
    <div class="main">
        <div class="heading">
            <h1><span>Facial</span> Recognition System</h1>
        </div>
<div class="choices" >
<div class="choice_1" onclick="location.href='login_admin.html'">
<img src="../Image/ky.jpg" alt="Admin" width="350" height="250">
    <h2>Admin</h2>
</div>

<div class="choice_2" onclick="location.href='login.html'">
    <img src="../Image/klo.jpg" alt="Admin" width="350" height="250">
<h2>Teacher</h2>
</div>
</div>
</div>
<script src="https://kit.fontawesome.com/88d014d7f1.js" crossorigin="anonymous"></script>

</body>
</html>
