<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facial Recognition System Login</title>
    <link rel="stylesheet" href="../style/sign_up.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNje6_l1w5eQT1KGoKqvOaxSeIMVBSd1Zung&usqp=CAU" type="image/x-icon">
</head>

<body>

    <div class="main">
        <div class="heading" onclick="location.href='main.html'">
            <h1><span>Facial</span> Recognition System</h1>
        </div>
        <div class="page">
            <h1><span>Sign Up</span></h1>
            <div class="form">
                <form>      
                    <div class="name">     
                <input type="text" placeholder="First Name" class="firstName">
                <input type="text" placeholder="Last Name" class="lastName">
            </div>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
      <div class="logF">
      <img src="../Image/google.png" width="40" height="40"> 
      <img src="../Image/facebook.png" width="40" height="40"> 
    </div> 
    
    
    <div class="signU">
        <button type="button" >Sign Up</button>
    </div>
    </form>

            </div>
        </div>
    </div>
    <script src="../script/script.js"></script>
    <script src="../script/forPaas.js"></script>
    
</body>
</html>