<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="../style/student_details.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNje6_l1w5eQT1KGoKqvOaxSeIMVBSd1Zung&usqp=CAU" type="image/x-icon">
</head>
<body>
    <div class="main">
        <div class="heading" onclick="location.href='main.html'">
            <h1><span>Facial</span> Recognition System</h1>

         
        </div>
        <div class="student_details">
            <h2>Student Details</h2>
        <div class="search">
            <input type="text" placeholder="Student Name">
            <button>Search</button>
        </div>
        
        <div class="download"> 
            <a href="#" download="Attendance.csv">Download</a></div>

    </div>

    </body>
</body>
</html>